<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Required CSS Files [ BOOTSTRAP 4 ] -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

   <style media="screen">
        .data      { font-size: 14px; margin-left: 3rem;}
        .heading   { margin: 4rem 0; text-align: center; }
        .nav a     { padding: 0.6rem 2rem; font-size: 18px !important; }
        .body-bg   { background-color: #4b636fb3; background-image: url('imgs/BG.jpg'); }
        .flexed  { display: flex; justify-content: space-between; }
    </style>
   </style>
</head>

<body class="body-bg">
  <!-- Navbar -->
  <div class="top-row row">
      <nav class="nav navbar navbar-dark bg-dark flexed col-md-12">
        <a class="text-light nav-link" href="/success">Welcome <span style="color:khaki"><%= req.session.username %></span></a>
        <a class="text-light nav-link" href="/">Logout</a>
      </nav>
  </div>
  
    <div class="container">
        <h1 class="text-light heading">You have successfuly loged in!</h1>
        <div class="row justify-content-center">
           <div clas="col-sm-12">
               <ul><h4 class="offset-1" style="color:khaki;">Here are all the Current Users in the Database</h4><hr>
                  <% if (allusers) {%> <% allusers.forEach(function(user) {%>
                  <li class="text-light flexed"><p><label for="name"><span style="color:khaki">Name: </span></label></p><p class="data"><%= user.first_name %> <%= user.last_name %></p></li>
                  <li class="text-light flexed"><p><span style="color:khaki">Email:</span></p><p class="data"><%= user.email %></p></li>
                  <li class="text-light flexed"><p><span style="color:khaki">Created At:</span></p><p class="data"><%= user.birthday %></p></li>
                  <% }); %> 
                  <% } else { %>
                  <li class="text-light flexed"><p><span style="color:khaki">There are currently no users in the database!</span></p></li>
                  <% } %>
               </ul>
           </div>
        </div>
    </div>
</body>
</html>